@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

body, html, #__next {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */